<!DOCTYPE html>
<html>

 <%- include('../partial/head'); %>

 <body class="container">
    <%- include('../partial/header', {pagina: 'Sobre'}); %>
  <main>
    <div class="jumbotron">
      <h1>Sobre mim</h1>
      <p>Sou Daniel Junio estudo front-end e curso ADS</p>
    </div>
  </main>
  <%- include('../partial/footer'); %>
 </body>
</html>